[submodule "sbforge-parent"]
	path = sbforge-parent
	url = git@github.com:statsbiblioteket/sbforge-parent.git
[submodule "newspaper-parent"]
	path = newspaper-parent
	url = git@github.com:statsbiblioteket/newspaper-parent.git
[submodule "jhove"]
	path = jhove
	url = git@github.com:openpreserve/jhove.git
